@import _uielements.sass

body
  font-family = "Gill Sans", "Gill Sans MT", "Segoe UI", "Candara", "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", "Verdana", "Verdana Ref", "sans-serif"

#hd

  .aafmenu
    +clearleft

    border-bottom = 1px "solid" #d6d6d6

    ul
      +horizmenu("none", #e6e6e6, #2c3d4b, #666, #fff )
      li
        +rounded-bl
        +rounded-br
        margin = 6px
        :margin
          :top = 0px
        a
          :font
            :weight = "normal"

  #banner    
    +clearfix

    h1
      +left
      color = #f2f2f2
      line-height = 80px
      margin-left = 12px
      :font
        :size = 1.9em
    
    #userops
      +right
      +rounded-bl
      +rounded-br
      padding = 9px
      :margin
        :right = 12px
      :font
        :weight = "bold"
        :size = 1.1em
      :background
        :color = #e6e6e6

      a
        +link(#666)
      color = #666

    img
      +right
      margin = 12px
	
    height = 124px
    padding = 0px
    :background
      :color = #2c3d4b


#bd
  +clear
  margin = 0px

  #working
    +rounded
    padding = 6px
    position = "absolute"
    color = "#f2f2f2"
    text-align = "center"
    :background
      :color = "#2c3d4b"
    border = 2px "solid" #fff

  .container
    margin = 0px
    padding = 0px
    width = 1024px

  .localnavigation
    +left
    +clearfix
    +rounded
    +cleanlist

    width = 150px
    margin-left = 0px
    margin-right = 12px
    padding = 6px

    :background
      :color = #e6e6e6
    border = 1px "solid" #d6d6d6

    h3
      :font
        :size = 0.9em
        :weight = "bold"
      color = #2c3d4b
      margin-bottom = 6px

    h4
      :font
        :size = 0.9em
        :weight = "bold"
      color = #2c3d4b
      margin-bottom = 1px

    a
      :font
        :size = 1.1em
        :weight = "normal"
      +link(#666)

    ul
      :margin
        :left = 6px
        :bottom = 3px

  .content
    +left
    width = 830px
    :margin
      :top = 0px


  .logincontent
    +automargin
    padding = 18px

table.cleantable
  +datatable(0px, 100%)

table.buttons
  +datatablewithbuttons

div.errors
  +rounded

  margin = 6px
  padding = 6px

  border = 2px "solid" #b10902

  :background
    :color = #c5200a
  color = #fff

td.errors
  input
    border = 2px "solid" #b10902

    :background
      :color = #c5200a
    color = #fff

#tabs
  width = 820px

.tabcontent
  +datatable(9px, 700px)
  +datatablewithbuttons

.critical
  +rounded
  border = 1px "solid" #BB0000
  :background
    :color = #CF0101

  color = #fff
  :font
    :weight = "bold"

  p
    margin = 0px
    padding = 3px
    :padding
      :left = 24px

#codeconsole #header
  display = "none"

.warning
  +rounded
  border = 1px "solid" #e7e691
  :background
    :color = #fefef0

  color = #333

  p
    margin = 0px
    padding = 3px
    :padding
      :left = 24px

.information
  +rounded
  border = 1px "solid" #035883
  :background
    :color = #d9e8fa

  color = #035883

  p
    margin = 0px
    padding = 3px
    :padding
      :left = 24px

.popup
  text-align = "center"
  padding = 6px

  .buttons
    margin-top = 6px

  form
    margin = 3px

.ui-widget
  font-family = "Gill Sans", "Gill Sans MT", "Segoe UI", "Candara", "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", "Verdana", "Verdana Ref", "sans-serif"

.ui-dialog
  border = 0px
  padding = 0px

  .ui-widget-header
    margin = 0px
    border = 0px
    color = #ffffff
    background = #51626E

  .ui-dialog-title 
    color = #ffffff
    :font
      :size = 1.1em

.searcharea
  padding = 6px
  margin-top = 12px
  h4
    :margin
      :top = 6px
      :bottom = 3px
      :left = 0px

    color = #a2a2a2
    :font
      :weight = "bold"

.enhancedtabledata
  +datatable(0px, 100%)
  +datatablewithbuttons

  width = 830px

  :font
    :size = 1.1em

  thead
    tr
      th
        color = #666666
        a
          +link(#666666)
        &.sortable
          a
            padding-left: 18px

            :background
              :repeat = "no-repeat"
              :position = "left center"
              :image = url("icons/table_refresh.png")

  td
    .numeric
      text-align = "center"
      .total
        color = #a2a2a2

.graphcontent
  .numeric
    :font
      :size = 1.2em
    text-align = "left"
    .total
      color = #a2a2a2

.horizontalelem
  +left
  margin-right = 18px

.contentblock
  +clearleft
  :margin
    :top = 12px
    :bottom = 12px

.componentlist
  h3
    margin = 0px
    :margin
      :top = 12px
    padding = 0px
  
  h4
    margin = 0px
    :margin
      :top = 12px
    padding = 0px

  table
    tr
      td
        padding = 0px
        :padding
          :bottom = 3px

  .button
    margin = 3px
  