CodeNarcReport.html
.DS_Store
.sass-cache
classes
stacktrace.log
docs.tar.gz
fr-config.groovy
FedRegConfig.groovy
NimbleConfig.groovy

*~
*.ipr
*.iml
*.iws
*.war
target/
test/reports/*
unzipped/*
docs/*
*.zip
plugin.xml

src/docs

grails-app/i18n/messages-branding*
grails-app/i18n/shiro.properties

web-app/plugins/*
web-app/images/skin/*
web-app/images/leftnav_top.png
web-app/images/springsource.png
web-app/images/favicon.ico
web-app/images/grails_logo.jpg
web-app/images/grails_logo.png
web-app/images/leftnav_btm.png
web-app/images/leftnav_midstretch.png
web-app/images/emailbranding*
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
web-app/css/main.css
web-app/css/application.css
web-app/js/prototype/

# These are important files but supplied externally to allow other federations to customize
grails-app/i18n/messages-deployment.properties
grails-app/views/layouts/*
grails-app/views/templates/layouts/*
grails-app/views/templates/_frheader.gsp
grails-app/views/templates/_frfooter.gsp
grails-app/views/templates/_frtopnavigation.gsp
grails-app/views/templates/mail/workflows/*
web-app/css/frtheme.less
web-app/images/logo.jpg
