import org.apache.log4j.DailyRollingFileAppender

appName=federationregistry
grails.serverURL = "http://localhost:8080/federationregistry"

// Federation Registry internal configuration
aaf {
  fr {
    metadata {
      federation = "aaf.edu.au"
      current {
        validForDays = 7
      }
      all {
        validForDays = 7
      }
      wayf {
        generateconfig {
          orgtypes = ['university', 'nzuniversity', 'marcs', 'vho', 'others'] as List
        }
      }
    }
  }
}

fedreg {
	deployment.environment = "development"
	bootstrap = false
	enabledemonstration = false

  gapps {
    enabled = false
    id = "123"
  }
	
	certificates {
		maxlifeindays = 7800	// shib default of 20 years for assertion certs
	}
	
	shibboleth {
		name = "fedreg.templates.federation.shibboleth.name"
        displayname = "fedreg.templates.federation.shibboleth.displayname"
        description = "fedreg.templates.federation.shibboleth.description"
        url = "http://www.aaf.edu.au"
        alttext = "fedreg.templates.federation.shibboleth.alttext"

        federationprovider {
			spactive = false
            enabled = true
            autoprovision = true
			ssoendpoint = "/Shibboleth.sso/DS"
        }

		headers {
			homeOrganization = "homeOrganization"
			homeOrganizationType = "homeOrganizationType"
			entityID = "Shib-Identity-Provider"
			uniqueID = "persistent-id"
			givenName= "givenName"
			surname= "sn"
			email= "mail"
			displayName = "displayName"
		}
    }


	
	knownimplementations {
		identityproviders {
			shib22 {
				displayName = 'Shibboleth Identity Provider (2.2.x)'
				selected = false
				entitydescriptor = '$host/idp/shibboleth'
				post.uri = '$host/idp/profile/SAML2/POST/SSO'
				redirect.uri = '$host/idp/profile/SAML2/Redirect/SSO'
				artifact {
					uri = '$host:8443/idp/profile/SAML2/SOAP/ArtifactResolution'
					index = 2
				}
				attributeservice.uri = '$host:8443/idp/profile/SAML2/SOAP/AttributeQuery'
			}
			shib23 {
				displayName = 'Shibboleth Identity Provider (2.3.x)'
				selected = true
				entitydescriptor = '$host/idp/shibboleth'
				post.uri = '$host/idp/profile/SAML2/POST/SSO'
				redirect.uri = '$host/idp/profile/SAML2/Redirect/SSO'
				artifact {
					uri = '$host:8443/idp/profile/SAML2/SOAP/ArtifactResolution'
					index = 2
				}
				attributeservice.uri = '$host:8443/idp/profile/SAML2/SOAP/AttributeQuery'
			}
		}
		serviceproviders {
			shib23 {
				displayName = "Shibboleth Service Provider (2.3.x)"
				selected = true
				entitydescriptor = '$host/shibboleth'
				acs {
					post {
						uri = '$host/Shibboleth.sso/SAML2/POST'
						index = 1
					}
					artifact {
						uri = '$host/Shibboleth.sso/SAML2/Artifact'
						index = 3
					}
				}
				drs {
					uri = '$host/Shibboleth.sso/DS'
					index = 1
				}
				slo {
					artifact.uri = '$host/Shibboleth.sso/SLO/Artifact'
					slo.redirect.uri = '$host/Shibboleth.sso/SLO/Redirect'
					soap.uri = '$host/Shibboleth.sso/SLO/SOAP' 
					post.uri = '$host/Shibboleth.sso/SLO/POST'
				}
				mnid {
					artifact.uri = '$host/Shibboleth.sso/NIM/Artifact'
					redirect.uri = '$host/Shibboleth.sso/NIM/Redirect' 
					soap.uri = '$host/Shibboleth.sso/NIM/SOAP'
					post.uri = '$host/Shibboleth.sso/NIM/POST'
				}
			}
			shib24 {
				displayName = "Shibboleth Service Provider (2.4.x)"
				selected = false
				entitydescriptor = '$host/shibboleth'
				acs {
					post {
						uri = '$host/Shibboleth.sso/SAML2/POST'
						index = 1
					}
					artifact {
						uri = '$host/Shibboleth.sso/SAML2/Artifact'
						index = 3
					}
				}
				drs {
					uri = '$host/Shibboleth.sso/Login'
					index = 1
				}
				slo {
					artifact.uri = '$host/Shibboleth.sso/SLO/Artifact'
					slo.redirect.uri = '$host/Shibboleth.sso/SLO/Redirect'
					soap.uri = '$host/Shibboleth.sso/SLO/SOAP' 
					post.uri = '$host/Shibboleth.sso/SLO/POST'
				}
				mnid {
					artifact.uri = '$host/Shibboleth.sso/NIM/Artifact'
					redirect.uri = '$host/Shibboleth.sso/NIM/Redirect' 
					soap.uri = '$host/Shibboleth.sso/NIM/SOAP'
					post.uri = '$host/Shibboleth.sso/NIM/POST'
				}
			}
		}
	}
}

// Shiro internal configuration
security.shiro.authc.required = false

// Nimble internal configuration
nimble {
	layout {
        administration = 'access'
		login = 'public'
    }

    resources {
        jslibrary = 'jquery'
        usejsdev = false
        usecssdev = false
    }

    messaging {
		enabled = false
		
        mail {
            from = "noreply@aaf.edu.au"
            host = ""
            port = com.icegreen.greenmail.util.ServerSetupTest.SMTP.port
            username = ""
            password = ""
            props = ["mail.smtp.auth": "false"]
        }
    }

    implementation {
    	user = "fedreg.host.User"
    	profile = "fedreg.host.Profile"
    }
}

//Data repository
/** - USE FOR DEVELOPMENT - NON JNDI
dataSource {
	pooled = true
	driverClassName = "com.mysql.jdbc.Driver"
	dialect = org.hibernate.dialect.MySQL5InnoDBDialect
	dbCreate = "update"
	loggingSql = false
	
	url = "jdbc:mysql://localhost/federationregistry"
	username = "fr"
	password =  "password"
}
**/

/** - USE FOR PRODUCTION - JNDI Datasource
dataSource {
	dbCreate = "update"
	dialect= org.hibernate.dialect.MySQL5InnoDBDialect
	jndiName= "java:comp/env/jdbc/FEDERATIONREGISTRY"	
}
**/

// Logging configuration
log4j = {
	appenders {
		appender new DailyRollingFileAppender(name:"fr-app", layout:pattern(conversionPattern: "%d{[ dd.MM.yy HH:mm:ss.SSS]} %-5p %c %x - %m%n"), file:"/tmp/fr-app.log", datePattern:"'.'yyyy-MM-dd")
		appender new DailyRollingFileAppender(name:"fr-md", layout:pattern(conversionPattern: "%d{[ dd.MM.yy HH:mm:ss.SSS]} %-5p %c %x - %m%n"), file:"/tmp/fr-md.log", datePattern:"'.'yyyy-MM-dd")
		appender new DailyRollingFileAppender(name:"stacktrace", layout:pattern(conversionPattern: "%d{[ dd.MM.yy HH:mm:ss.SSS]} %-5p %c %x - %m%n"), file:"/tmp/stacktrace.log", datePattern:"'.'yyyy-MM-dd")
	}
	
	info	'fr-md':    ['grails.app.controller.fedreg.metadata.MetadataController',
						 'grails.app.service.fedreg.metadata.MetadataGenerationService'], additivity: false
						
    warn 	'fr-app': 	['org.codehaus.groovy.grails.web.servlet',
						 'org.codehaus.groovy.grails.web.pages',
						 'org.codehaus.groovy.grails.web.sitemesh',
						 'org.codehaus.groovy.grails.web.mapping.filter',
						 'org.codehaus.groovy.grails.web.mapping',
						 'org.codehaus.groovy.grails.commons',
						 'org.codehaus.groovy.grails.plugins',												
						 'org.apache.shiro']
 
    info 	'fr-app': 	['grails.plugins.nimble', 
						 'grails.app.controller',
						 'grails.app.domain',
						 'grails.app.service',
						 'grails.app.realm']
}
