
# OS and editors
.DS_Store
fr.sublime-project
fr.sublime-workspace
.classpath
.project
.settings
*.iws

# Grails
stacktrace.log
test/reports
web-app
target
grails-app/i18n
grails-app/realms
*.war
*DB*

