@bgColor: #f2f2f2;
@docColor: #fff;
@headColor: #495666;
@headFontColor: #fff;
@navColor: #37404B;
@coreFonts: Helvetica, Verdana, Arial;
@minBaseWidth: 1024px;
@minContentWidth: 960px;
@maxContentWidth: 96%;

.rounded-top(@radius: 5px) {
	-webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius: @radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
}

.rounded-bottom(@radius: 5px) {
   -webkit-border-bottom-left-radius: @radius;
	   -webkit-border-bottom-right-radius: @radius;
   -moz-border-radius-bottomleft: @radius;
	   -moz-border-radius-bottomright: @radius;
}

.rounded(@radius: 5px) {
   -webkit-border-radius: @radius;
   -moz-border-radius: @radius;
   border-radius: @radius;
}

.automargin {
	margin:0px auto;
	text-align: left;
}

.zero {
	margin: 0px;
	padding: 0px;
}

.left {
	   float: left;
}

.right {
	float: right;
}

.clearfix:after {
	   content: ".";
	   display: block;
	   clear: both;
	   visibility: hidden;
	   line-height: 0;
	   height: 0;
}

.clearfix {
	   display: inline-block;
}

.horizitem
{
	.zero;
	display: inline;
	list-style-type: none;
	padding-left: 12px;
	padding-right: 12px;
}

.popup {
	text-align: center;
	.buttons {
		margin-top: 12px;
		a {
			margin-left: 3px;
			margin-right: 3px;
		}
	}
}

.paginatebuttons {
	margin-top: 24px;
	a, span {
		padding: 6px;
		padding-left: 9px;
		padding-right: 9px;
		border: 1px solid #e2e2e2;
	}
}

.message {
	.rounded;
	border: 1px solid;
	margin: 6px;
	padding: 9px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.info {
	.message;
	color: #00529B;
	background-color: #BDE5F8;
}
.success {
	.message;
	color: #4F8A10;
	background-color: #DFF2BF;
}
.warning {
	.message;
	color: #9F6000;
	background-color: #FEEFB3;
}

.error {
	.message;
	color: #D8000C;
	background-color: #FFBABA;
}

/* Make HTML 5 elements display block-level for consistent styling */  
header, nav, article, footer, address {  
    display: block;  
}

.ui-button {
	font-size: 0.9em;
}

ul.clean {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.clean li {
	margin-top: 3px;
}

#jGrowl { .message { border: 0; padding: 0; } }

#working {
	.rounded;
	position: absolute;
	margin: 6px;
	padding: 6px;
	background-color: #000;
	opacity: 0.85;
	text-align: center;
	color: #f2f2f2;
	font-size: 0.8em;
	font-weight: bold;
	z-index: 99;
	img {
		margin-bottom: 6px;
	}
}

body {
	.zero;
	background-color: @bgColor;
	font-family: @coreFonts;
	font-size: 0.9em;

	margin:0; 
	padding:0;
	text-align:center;
}

a {
	.zero;
}

hr {
	margin-top: 18px;
	margin-bottom: 18px;
}

select {
	padding: 6px;
	font-size: 1.1em;
}

th {
    text-align: inherit;
}

table {
	text-align: left;
}

body header {
	.clearfix;
	.automargin;
	
	width: @maxContentWidth;
	min-width: @minContentWidth;
	
   background-color: @headColor;
   color: @headFontColor;
				padding-top: 12px;
	height: 4.0em;

	img {
		.left;
		padding-bottom: 6px;
		padding-left: 12px;
		padding-right: 36px;
	}

	h1 {
		.zero;
		color: #fff;
		font-size: 1.3em;
		font-weight: normal;
		line-height: 2.3em;
   }
}

body nav {
		.zero;
		.rounded-bottom(5px);
		.clearfix;
		.automargin;

		width: @maxContentWidth;
		min-width: @minContentWidth;
	
		clear: both;
		font-size: 0.9em;
		font-weight: bold;

		ul {
			.zero;
			clear: both;
			padding-top: 12px;
			padding-bottom: 6px;
			padding-left: 12px;
			li {
				.horizitem;
				padding-top: 6px;
				padding-bottom: 6px;
				a {
					text-decoration: none;
					color: #fff;
				}
				a:hover {
					text-decoration: underline;
				}
			}
		}
		
		.level1 {
			background-color: #39404B;
			border-top: 1px solid #d4d4d4;
			.active { .rounded-top; background-color: #8F9A99;  }
		}
		
		.level2 {
			background-color: #8F9A99;
			.active { .rounded-top; background-color: #d4d4d4; a { color: #555; } }
		}
		
		.level2a {
			background-color: #8F9A99;
			.active { .rounded-top; background-color: #fff; a { color: #555; } }
		}
		
		.level3 {
			background-color: #d4d4d4;
			color: #555;
			a { color: #555; }
			.active { .rounded-top; background-color: #e4e4e4;}
		}
		
		.level3a {
			background-color: #d4d4d4;
			color: #555;
			a { color: #555; }
			.active { .rounded-top; background-color: #FFF;}
		}
		
		.level4 {
			background-color: #e4e4e4;
			color: #555;
			a { color: #555; }
			.active { .rounded-top; background-color: #FFF;}
		}
		
		.directactive {
			.rounded-top; 
			background-color: #FFF;
			a { color: #555; }
		}
}

body section {
	.zero;
	.rounded;
	.clearfix;
	.automargin;
	
	width: @maxContentWidth;
	min-width: @minContentWidth;

	margin-bottom: 24px;
	background-color: #fff;
}

body section section {	
	.zero;
	padding: 24px;
	color: #555;
	display: block;

	
	h2 { .zero; margin-bottom: 12px; }
	table { 
		text-align: left; 
		th, td { padding: 6px; padding-right: 24px; vertical-align:top; text-align:left;}
		th { a { color: #555 } }
	}
	a { .zero; color: #0071FB; text-decoration: none; }
	a:hover { text-decoration: underline; }
	input {
		font-size: 1.1em;
		padding: 6px;
	}
	textarea {
		font-size: 1.1em;
		padding: 6px;
	}
	#tabs {
		margin-top: 24px;
		font-size: 0.9em;
	}
}

.contentaddition {
	padding-bottom: 18px;
}