body { font-family: Gill Sans, Gill Sans MT, Segoe UI, Candara, Bitstream Vera Sans, DejaVu Sans, Bitstream Vera Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif; }

#hd .aafmenu { clear: left; border-bottom: 1px solid #d6d6d6; }
#hd .aafmenu ul { margin: 0px; padding: 0px; list-style-type: none; overflow: hidden; display: inline-block; width: 100%; background-image: url('none'); background-color: #e6e6e6; background-position: top left; background-repeat: repeat-x; }
#hd .aafmenu ul li { margin: 0px; padding: 0px; display: inline; list-style-type: none; }
#hd .aafmenu ul { display: block; }
#hd .aafmenu ul li { float: left; overflow: visible; margin-right: 6px; padding: 12px; }
#hd .aafmenu ul li a { color: #363636; cursor: pointer; text-decoration: none; display: block; font-weight: normal; font-size: 1.2em; color: #666666; }
#hd .aafmenu ul li a:hover { text-decoration: underline; }
#hd .aafmenu ul li.current { background-color: #2c3d4b; background-position: bottom left; background-repeat: repeat-x; }
#hd .aafmenu ul li.current a { color: white; }
#hd .aafmenu ul li { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; margin: 6px; margin-top: 0px; }
#hd .aafmenu ul li a { font-weight: normal; }
#hd #banner { overflow: hidden; display: inline-block; height: 124px; padding: 0px; background-color: #2c3d4b; }
#hd #banner { display: block; }
#hd #banner h1 { float: left; color: #f2f2f2; line-height: 80px; margin-left: 12px; font-size: 1.9em; }
#hd #banner #userops { float: right; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; padding: 9px; margin-right: 12px; font-weight: bold; font-size: 1.1em; background-color: #e6e6e6; color: #666666; }
#hd #banner #userops a { color: #666666; cursor: pointer; text-decoration: none; }
#hd #banner #userops a:hover { text-decoration: underline; }
#hd #banner img { float: right; margin: 12px; }

#bd { clear: all; margin: 0px; }
#bd #working { -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 6px; position: absolute; color: #f2f2f2; text-align: center; background-color: #2c3d4b; border: 2px solid white; }
#bd .container { margin: 0px; padding: 0px; width: 1024px; }
#bd .localnavigation { float: left; overflow: hidden; display: inline-block; -moz-border-radius: 5px; -webkit-border-radius: 5px; width: 150px; margin: 6px; padding: 6px; background-color: #e6e6e6; border: 1px solid #d6d6d6; }
#bd .localnavigation { display: block; }
#bd .localnavigation ul { list-style-type: none; }
#bd .localnavigation ul li { list-style-type: none; }
#bd .localnavigation h3 { font-size: 0.9em; font-weight: bold; color: #2c3d4b; margin-bottom: 6px; }
#bd .localnavigation h4 { font-size: 0.9em; font-weight: bold; color: #2c3d4b; margin-bottom: 1px; }
#bd .localnavigation a { font-size: 1.1em; font-weight: normal; color: #666666; cursor: pointer; text-decoration: none; }
#bd .localnavigation a:hover { text-decoration: underline; }
#bd .localnavigation ul { margin-left: 6px; margin-bottom: 3px; }
#bd .content { float: left; width: 830px; margin-top: 0px; }
#bd .logincontent { margin-left: auto; margin-right: auto; padding: 18px; }

table.cleantable { margin: 0px; width: 100%; }
table.cleantable h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
table.cleantable thead tr th { background-color: #fff; }
table.cleantable thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
table.cleantable thead tr th a:hover { text-decoration: underline; }
table.cleantable tbody tr.odd td { background-color: #fff; }
table.cleantable tbody tr.even td { background-color: #fbfbfb; }
table.cleantable tbody tr td.name { font-weight: bold; }

table.buttons tbody tr td { padding: 9px; }

div.errors { -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 6px; padding: 6px; border: 2px solid #b10902; background-color: #c5200a; color: white; }

td.errors input { border: 2px solid #b10902; background-color: #c5200a; color: white; }

#tabs { width: 820px; }

.tabcontent { margin: 9px; width: 700px; }
.tabcontent h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
.tabcontent thead tr th { background-color: #fff; }
.tabcontent thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
.tabcontent thead tr th a:hover { text-decoration: underline; }
.tabcontent tbody tr.odd td { background-color: #fff; }
.tabcontent tbody tr.even td { background-color: #fbfbfb; }
.tabcontent tbody tr td.name { font-weight: bold; }
.tabcontent tbody tr td { padding: 9px; }

.critical { -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #bb0000; background-color: #cf0101; color: white; font-weight: bold; }
.critical p { margin: 0px; padding: 3px; padding-left: 24px; }

.warning { -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #e7e691; background-color: #fefef0; color: #333333; }
.warning p { margin: 0px; padding: 3px; padding-left: 24px; }

.information { -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #035883; background-color: #d9e8fa; color: #035883; }
.information p { margin: 0px; padding: 3px; padding-left: 24px; }

.popup { text-align: center; padding: 6px; }
.popup .buttons { margin-top: 6px; }
.popup form { margin: 3px; }

.ui-widget { font-family: Gill Sans, Gill Sans MT, Segoe UI, Candara, Bitstream Vera Sans, DejaVu Sans, Bitstream Vera Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif; }

.ui-dialog { border: 0px; padding: 0px; }
.ui-dialog .ui-widget-header { margin: 0px; border: 0px; color: white; background: #51626e; }
.ui-dialog .ui-dialog-title { color: white; font-size: 1.1em; }

.searcharea { padding: 6px; margin-top: 12px; }
.searcharea h4 { margin-top: 6px; margin-bottom: 3px; margin-left: 0px; color: #a2a2a2; font-weight: bold; }

.enhancedtabledata { margin: 0px; width: 100%; width: 830px; font-size: 1.1em; }
.enhancedtabledata h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
.enhancedtabledata thead tr th { background-color: #fff; }
.enhancedtabledata thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
.enhancedtabledata thead tr th a:hover { text-decoration: underline; }
.enhancedtabledata tbody tr.odd td { background-color: #fff; }
.enhancedtabledata tbody tr.even td { background-color: #fbfbfb; }
.enhancedtabledata tbody tr td.name { font-weight: bold; }
.enhancedtabledata tbody tr td { padding: 9px; }
.enhancedtabledata thead tr th { color: #666666; }
.enhancedtabledata thead tr th a { color: #666666; cursor: pointer; text-decoration: none; }
.enhancedtabledata thead tr th a:hover { text-decoration: underline; }
.enhancedtabledata thead tr th.sortable a { padding-left: 18px; background-repeat: no-repeat; background-position: left center; background-image: url('icons/table_refresh.png'); }
.enhancedtabledata td .numeric { text-align: center; }
.enhancedtabledata td .numeric .total { color: #a2a2a2; }

.graphcontent .numeric { font-size: 1.2em; text-align: left; }
.graphcontent .numeric .total { color: #a2a2a2; }

.horizontalelem { float: left; margin-right: 18px; }

.contentblock { clear: left; margin-top: 12px; margin-bottom: 12px; }

.componentlist h3 { margin: 0px; padding: 0px; }
.componentlist h4 { margin: 0px; padding: 0px; }
.componentlist table tr td { padding: 0px; padding-bottom: 3px; }
.componentlist .button { margin: 3px; }
