#hd .aafmenu { clear: left; }
#hd .aafmenu ul { margin: 0px; padding: 0px; list-style-type: none; overflow: hidden; display: inline-block; width: 100%; background-image: url('none'); background-color: #3c454d; background-position: top left; background-repeat: repeat-x; }
#hd .aafmenu ul li { margin: 0px; padding: 0px; display: inline; list-style-type: none; }
#hd .aafmenu ul { display: block; }
#hd .aafmenu ul li { float: left; overflow: visible; margin-right: 6px; padding: 12px; }
#hd .aafmenu ul li a { color: #363636; cursor: pointer; text-decoration: none; display: block; font-weight: normal; font-size: 1.2em; color: white; }
#hd .aafmenu ul li a:hover { text-decoration: underline; }
#hd .aafmenu ul li.current { background-color: #55626d; background-position: bottom left; background-repeat: repeat-x; }
#hd .aafmenu ul li.current a { color: white; }
#hd .aafmenu ul li { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; margin: 6px; margin-top: 0px; }
#hd #banner { overflow: hidden; display: inline-block; height: 124px; padding: 0px; background-color: #55626d; }
#hd #banner { display: block; }
#hd #banner h1 { float: left; color: #f2f2f2; line-height: 80px; margin-left: 12px; font-size: 1.9em; }
#hd #banner #userops { float: right; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; padding: 9px; margin-right: 12px; font-weight: bold; font-size: 1.1em; background-color: #3c454d; color: #f2f2f2; }
#hd #banner #userops a { color: #f2f2f2; cursor: pointer; text-decoration: none; }
#hd #banner #userops a:hover { text-decoration: underline; }
#hd #banner img { float: right; margin: 12px; }
#hd #banner ul { background-color: #3e3e3e; }
#hd #banner li.current { background-color: 3e 3e 3e; }

#bd { clear: all; margin: 0px; }
#bd #working { -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 6px; position: absolute; color: #f2f2f2; text-align: center; background-color: #55626D; border: 2px solid white; }
#bd .container { margin: 0px; padding: 0px; width: 100%; }
#bd .localnavigation { float: left; overflow: hidden; display: inline-block; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; width: 150px; margin: 0px; padding: 6px; background-color: #f5f5f5; border: 1px solid #d5d5d5; border-top: none; }
#bd .localnavigation { display: block; }
#bd .localnavigation ul { list-style-type: none; }
#bd .localnavigation ul li { list-style-type: none; }
#bd .localnavigation h3 { font-size: 1em; font-weight: bold; color: #a6a6a6; }
#bd .localnavigation h4 { font-size: 0.9em; font-weight: bold; color: #868686; margin-bottom: 1px; }
#bd .localnavigation a { font-size: 1em; font-weight: bold; color: #666666; cursor: pointer; text-decoration: none; }
#bd .localnavigation a:hover { text-decoration: underline; }
#bd .localnavigation ul { margin-left: 6px; margin-bottom: 3px; }
#bd .content { float: left; width: *; margin-top: 0px; margin-left: 12px; }
#bd .logincontent { margin-left: auto; margin-right: auto; padding: 18px; }

table.cleantable { margin: 0px; width: 100%; }
table.cleantable h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
table.cleantable thead tr th { background-color: #fff; }
table.cleantable thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
table.cleantable thead tr th a:hover { text-decoration: underline; }
table.cleantable tbody tr.odd td { background-color: #fff; }
table.cleantable tbody tr.even td { background-color: #fbfbfb; }
table.cleantable tbody tr td.name { font-weight: bold; }

table.buttons tbody tr td { padding: 9px; }

div.errors { -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 6px; padding: 6px; border: 2px solid #b10902; background-color: #c5200a; color: white; }

td.errors input { border: 2px solid #b10902; background-color: #c5200a; color: white; }

.breadcrumb { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; padding-top: 6px; padding-bottom: 6px; padding-left: 18px; background-color: #3c454d; color: white; }
.breadcrumb a { color: #e2e2e2; cursor: pointer; text-decoration: none; font-weight: bold; }
.breadcrumb a:hover { text-decoration: underline; }

.tabcontent { margin: 9px; width: 700px; }
.tabcontent h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
.tabcontent thead tr th { background-color: #fff; }
.tabcontent thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
.tabcontent thead tr th a:hover { text-decoration: underline; }
.tabcontent tbody tr.odd td { background-color: #fff; }
.tabcontent tbody tr.even td { background-color: #fbfbfb; }
.tabcontent tbody tr td.name { font-weight: bold; }
.tabcontent tbody tr td { padding: 9px; }

#organization .details { width: 800px; }
#organization #tabs { width: 800px; }
#organization .tabcontent { margin: 9px; width: 95%; }
#organization .tabcontent h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
#organization .tabcontent thead tr th { background-color: #fff; }
#organization .tabcontent thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
#organization .tabcontent thead tr th a:hover { text-decoration: underline; }
#organization .tabcontent tbody tr.odd td { background-color: #fff; }
#organization .tabcontent tbody tr.even td { background-color: #fbfbfb; }
#organization .tabcontent tbody tr td.name { font-weight: bold; }
#organization .tabcontent tbody tr td { padding: 9px; }
#organization .tabcontent table td { width: 200px; }

#entity .details { width: 800px; }
#entity #tabs { width: 800px; }

#identityprovider .details { width: 800px; font-size: 1em; }
#identityprovider .details a { color: #55626d; cursor: pointer; text-decoration: none; font-weight: bold; }
#identityprovider .details a:hover { text-decoration: underline; }
#identityprovider #tabs { width: 800px; }
#identityprovider #crypto h4 { margin-top: 6px; margin-bottom: 3px; margin-left: 0px; color: #a2a2a2; font-weight: bold; }
#identityprovider #contacts h4 { margin-top: 6px; margin-bottom: 3px; margin-left: 0px; color: #a2a2a2; font-weight: bold; }
#identityprovider .endpoints h4 { margin-top: 18px; margin-bottom: 3px; margin-left: 0px; color: #a2a2a2; }
#identityprovider .endpoints table { margin-left: 6px; }
#identityprovider .endpoints table tr td { width: 250px; padding: 3px; }

#attributereleasecompliance table h3 { color: #525252; font-size: 1.3em; font-weight: bold; }
#attributereleasecompliance table h4 { margin: 0px; margin-top: 12px; color: #666666; font-size: 1.1em; font-weight: bold; }

#cautilization table table th { width: 100px; }

.critical { -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #bb0000; background-color: #cf0101; color: white; font-weight: bold; }
.critical p { margin: 0px; padding: 3px; padding-left: 24px; }

.warning { -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #e5af2f; background-color: #feba5e; color: white; font-weight: bold; }
.warning p { margin: 0px; padding: 3px; padding-left: 24px; }

.information { -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid #035883; background-color: #d9e8fa; color: #035883; }
.information p { margin: 0px; padding: 3px; padding-left: 24px; }

.popup { text-align: center; padding: 6px; }
.popup .buttons { margin-top: 6px; }
.popup form { margin: 3px; }

.ui-dialog { border: 0px; padding: 0px; }
.ui-dialog .ui-widget-header { margin: 0px; border: 0px; color: white; background: #51626e; }
.ui-dialog .ui-dialog-title { color: white; font-size: 1.1em; }

.searcharea { padding: 6px; margin-top: 12px; }
.searcharea h4 { margin-top: 6px; margin-bottom: 3px; margin-left: 0px; color: #a2a2a2; font-weight: bold; }

.enhancedtabledata { margin: 0px; width: 100%; font-size: 1.1em; }
.enhancedtabledata h3 { margin: 0px; padding: 0px; margin-bottom: 3px; }
.enhancedtabledata thead tr th { background-color: #fff; }
.enhancedtabledata thead tr th a { color: #363636; cursor: pointer; text-decoration: none; }
.enhancedtabledata thead tr th a:hover { text-decoration: underline; }
.enhancedtabledata tbody tr.odd td { background-color: #fff; }
.enhancedtabledata tbody tr.even td { background-color: #fbfbfb; }
.enhancedtabledata tbody tr td.name { font-weight: bold; }
.enhancedtabledata tbody tr td { padding: 9px; }
.enhancedtabledata thead tr th { color: #666666; }
.enhancedtabledata thead tr th a { color: #666666; cursor: pointer; text-decoration: none; }
.enhancedtabledata thead tr th a:hover { text-decoration: underline; }
.enhancedtabledata thead tr th.sortable a { padding-left: 18px; background-repeat: no-repeat; background-position: left center; background-image: url('icons/table_refresh.png'); }
.enhancedtabledata td .numeric { text-align: left; }
.enhancedtabledata td .numeric .total { color: #a2a2a2; }

.graphcontent .numeric { font-size: 1.2em; text-align: left; }
.graphcontent .numeric .total { color: #a2a2a2; }

.horizontalelem { float: left; margin-right: 18px; }

.contentblock { clear: left; margin-top: 12px; margin-bottom: 12px; }
