.icon_create{background-image:url('icons/add.png');}
.icon_view{background-image:url('icons/magnifier_zoom_in.png');}
.icon_edit{background-image:url('icons/pencil_go.png');}
.icon_update{background-image:url('icons/accept.png');}