@bgColor: #f2f2f2;
@docColor: #fff;
@headColor: #495666;
@headFontColor: #fff;
@navColor: #37404B;

.row-spacer {
  margin-top: 48px;
}

.rounded-top(@radius: 3px) {
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-topright: @radius;
}

.rounded-bottom(@radius: 3px) {
  border-bottom-left-radius: @radius;
  border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  -moz-border-radius-bottomright: @radius;
}

.rounded(@radius: 3px) {
   -webkit-border-radius: @radius;
   -moz-border-radius: @radius;
   border-radius: @radius;
}

.clearfix:after {
  content: ".";
  display: none;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.zero {
  margin: 0px;
  padding: 0px;
}

td.centered, th.centered, .centered {
  text-align: center;
}

.horizitem
{
  .zero;
  display: inline;
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 5px;
}

.not-in-federation {
  color: #CD3B35;
  font-weight: bold;
}

.not-functioning {
  color: #CD3B35;
  font-weight:bold;
}

.more-info:after {
  content: url('images/information.png') no-repeat center center;
  padding-left: 3px;
  vertical-align:middle;
}

.cert {
  width: 500px;
}

.metadata {
  font: courier;
}

input.required, textarea.required {
  border-bottom: 2px solid #7C868A;  
}

label.error {
  .rounded;
  .zero;
  width: auto;
  line-height: 0.9em;
  padding: 4px;
  margin: 4px;
  background-color: #CD3B35;
  color: #fff;
  float:right;
  font-weight:bold;  
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.9em;
}

input.error, textarea.error {
  border-bottom: 2px solid #CD3B35; 
}

table.borderless th {
  border: 0px;
}

table.borderless td {
  border: 0px;
}

table.fixed th {
  width: 300px;
}

strong.highlight {
  font-size: 1.2em;
  color: 333;
  font-weight: bold;
}

code {
  color: #333;
  background-color: #FFE68C;
  border: 0px;
  padding: 2px;
}

span.binding {
  .rounded;
  font-size: 0.85em;
  background-color: #f2f2f2;
  padding: 2px;
  margin-top: 2px;
}

form {
  padding: 6px;
}

div.step {
  margin-top: 12px;
}

ul.clean {
  list-style: none;
}

body {
  background-color: #f2f2f2;
}

body header {  
  background-color: #495666;
  color: @headFontColor;
  padding-top: 12px;
  padding-bottom: 18px;


  img {
    float: left;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 36px;
  }

  h1 {
    .zero;
    float: left;
    color: #fff;
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 6px;
  }
}

body nav {
    font-size: 1.0em;
    font-weight: normal;

    ul {
      .zero;
      padding-top: 9px;
      padding-bottom: 3px;
      li {
        .zero;
        .horizitem;
        margin-left: 4px;
        text-align: center;
        a {
          .zero;
          text-decoration: none;
          font-weight: normal;
          color: #fff;
        }
        a:hover {
          text-decoration: underline;
          color: #fff;
        }
      }
    }
    
    .level1 {
      background-color: #495666;
      .active { .rounded-top; background-color: #8f9a99;  }
    }
    
    .level2 {
      background-color: #8f9a99;
      .active { .rounded-top; background-color: #ccc; a { color: #555; }}
    }
    
    .level2a {
      background-color: #8f9a99;
      .active { .rounded-top; background-color: #fff; a { color: #555; } }
    }
    
    .level3 {
      background-color: #ccc;
      color: #555;
      .active { .rounded-top; background-color: #979C9C;}
      li { a{ color: #555; } }
    }
    
    .level3a {
      background-color: #ccc;
      color: #555;
      .active { .rounded-top; background-color: #FFF; a{ color: #555; }}
      li { a{ color: #555; } }
    }
    
    .directactive {
      .rounded-top; 
      background-color: #FFF;
      a { color: #555; }
      a:hover { color: #555;}
    }
}

body section {
  .zero;
  .rounded-bottom;
  padding: 12px;
  padding-top: 6px;
  background-color: #fff;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

body footer {
  .zero;
  padding: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  
  font-size:0.9em;
  color: #aaa;
  a {
    color: #aaa;
  }
}