@bgColor: #f2f2f2;
@docColor: #fff;
@headColor: #fff; /* #495666 */
@headFontColor: #00B9E4; /* #fff */
@navColor: #00B9E4; /* #37404B */

.row-spacer {
  margin-top: 24px;
}

.alert-spacer {
  margin: 6px;
}

.rounded-top(@radius: 3px) {
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-topright: @radius;
}

.rounded-bottom(@radius: 3px) {
  border-bottom-left-radius: @radius;
  border-bottom-right-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-radius-bottomleft: @radius;
  -moz-border-radius-bottomright: @radius;
}

.rounded(@radius: 3px) {
   -webkit-border-radius: @radius;
   -moz-border-radius: @radius;
   border-radius: @radius;
}

.clearfix:after {
  content: ".";
  display: none;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

.zero {
  margin: 0px;
  padding: 0px;
}

td.centered, th.centered, .centered {
  text-align: center;
}

.horizitem
{
  .zero;
  display: inline;
  list-style-type: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 5px;
}

.not-in-federation {
  color: #CD3B35;
  font-weight: bold;
}

.not-functioning {
  color: #CD3B35;
  font-weight:bold;
}

.more-info:after {
  content: url('images/information.png') no-repeat center center;
  padding-left: 3px;
  vertical-align:middle;
}

.cert {
  width: 550px;
}

textarea.cert{
  font: courier;
  font-size: 10px;
}

.metadata {
  font: courier;
}

.dashboard-wow {
  font-size: 3.0em;
}

.dashlist {
  margin: 0px;
  padding: 0px;
}

.table tbody tr:hover td, .table tbody tr:hover th { 
  background-color: #fff;
}

.table {
  tbody tr:hover td, 
  tbody tr:hover th {
    background-color: #fff;
  }
}

.hero-unit {
  margin-top: 6px;
}

.nav .nav-sectionheader {
  font-size: 1.1em;
}

div.dataTables_length {
  padding-left: 34px;
  padding-top: 8px;
}

div.dataTables_length label {
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
  font-weight: bold;

  input {
    .rounded(10px);
  }
}

div.dataTables_info {
  padding-top: 8px;
  padding-left: 34px;
  font-weight: bold;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table.table {
  clear: both;
  margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
}

table.dataTable th:active {
  outline: none;
}

input.required, textarea.required {
  border-bottom: 2px solid #7C868A;  
}

label.error {
  .rounded;
  .zero;
  width: auto;
  line-height: 0.9em;
  padding: 4px;
  margin: 4px;
  background-color: #CD3B35;
  color: #fff;
  float:right;
  font-weight:bold;  
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 0.9em;
}

input.error, textarea.error {
  border-bottom: 2px solid #CD3B35; 
}

table.borderless th {
  border: 0px;
}

table.borderless td {
  border: 0px;
}

table.fixed th {
  width: 300px;
}

strong.highlight {
  font-size: 1.2em;
  color: 333;
  font-weight: bold;
}

code {
  color: #333;
  background-color: #FFE68C;
  border: 0px;
  padding: 2px;
}

span.binding {
  .rounded;
  font-size: 0.85em;
  background-color: #f2f2f2;
  padding: 2px;
  margin-top: 2px;
}

form {
  padding: 6px;
}

div.step {
  margin-top: 12px;
}

ul.clean {
  list-style: none;
}



body {
  background-color: #fff;
}

body header {  

  background-color: @headColor; /* #495666 */
  color: @headFontColor;
  padding-top: 12px;
  padding-bottom: 56px;

  img {
    float: left;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 36px;
  }

  h1 {
    .zero;
    float: left;
    color: @headFontColor; /* #fff */
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 6px;
  }

  h2 {
    .zero;
    float: right;
    color: @headFontColor; /* #DD7727 */
    font-size: 2.5em;
    font-weight: normal;
    padding-top: 6px;
    padding-right: 12px;
  }
}

body nav {
  margin-top: -44px;
  font-size: 1.0em;
  font-weight: normal;

  ul {
    .zero;
    
    li {
      .zero;
      .horizitem;
      margin-left: 2px;
      text-align: center;
      a {
        .zero;
        text-decoration: none;
        font-weight: normal;
        color: #fff;
      }
      a:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
  
  .level1 {
    .rounded-top(5px);

    padding-top: 12px;
    padding-bottom: 12px;

    background-color: #00B9E4; /* #3D4754 */
    /* uncomment this */ .active { .rounded-top; background-color: #8f9a99;  }/* uncommented */
  }
  
  .level2 {
    padding-top: 6px;
    padding-bottom: 3px;

    background-color: #8f9a99;
    .active { .rounded-top; background-color: #f2f2f2; a { color: #555; }}
    .directactive { .rounded-top; background-color: #fff; a {color: #555;}}
  }
  
  .level2a {
    padding-top: 6px;
    padding-bottom: 3px;
    background-color: #8f9a99;
    .active { .rounded-top; background-color: #fff; a { color: #555; } }
  }
  
  .level3 {
    padding-top: 6px;
    padding-bottom: 3px;
    background-color: #f2f2f2;
    color: #555;
    .active { .rounded-top; background-color: #979C9C;}
    .directactive { .rounded-top; background-color: #fff;}
    li { a{ color: #555; } a:hover{ color: #555; }}
  }
  
  .level3a {
    padding-top: 6px;
    padding-bottom: 3px;
    background-color: #f2f2f2;
    color: #555;
    .active { .rounded-top; background-color: #FFF; a{ color: #555; }}
    li { a{ color: #555; } a:hover{ color: #555; }}
  }
}

body section {
  .zero;
  .rounded-bottom;
  padding: 6px;
  background-color: #fff;
}

body.plain {
  background-color: #fff;
}

body footer {
  .zero;
  padding-top: 48px;
  padding-bottom: 12px;

  .span12 {
    padding: 6px;
    border-top: 1px solid #E1E1E1;
    
    font-size:0.9em;
    color: #aaa;
    a {
      color: #aaa;
    }
  }
}
