#zenbox_overlay { top:0; left:0; width: 100%; height: 100%; position: absolute; _position: absolute; z-index: 90000; }
#zenbox_overlay * { margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-style:normal; font-variant:normal; font-size: 12px; color:#333;}

  #zenbox_main { width: 670px; height: 620px; margin: 0 auto; z-index:2; position:relative; }
    #zenbox_main div { padding: 5px 20px 0 20px; margin:0; background: #EEE; overflow:none; border-right: solid 2px #000; border-left: solid 2px #000; }

    #zenbox_main #overlay_header {
      padding: 0.5em 0.5em 4px 0.5em; background-color:#333;
      font-weight: bold; height:18px; border: solid 2px #000;
      border-bottom-width: 0;
    }
      #zenbox_main #overlay_header span {
        float:right; height:20px; padding-right:20px; background: transparent url('/external/zenbox/images/close.png') no-repeat 33px 0;
        text-decoration:underline; font-size:11px; cursor:pointer; color: #fff;
      }

    #zenbox_main #overlay_loading, #zenbox_main #zenbox_iframe {
      border: solid 2px #000; border-top-width: 0;
    }

    #zenbox_main #overlay_loading {
      font-size: 2em;
      padding: 1em;
      text-align: center;
    }

    #zenbox_iframe { width: 100%; height: 100%; }

    #zenbox_screen { top:0; left:0; z-index:1; width: 100%; position: absolute; background-color: #000; opacity: 0.42; filter:alpha(opacity=42); -moz-opacity: 0.42;}

#zenbox_tab {
  top: 23%; width: 33px; height: 108px; border: solid 1px; cursor:pointer; text-indent:-5000px;
  position: fixed; z-index: 10000; overflow:hidden;
}
  /* IE won't read ID-and-class selectors like #zenbox_tab.left, so we use just a class: */
  .ZenboxTabLeft {
    left: 0;
    background-position: right 0;
  }
  .ZenboxTabRight {
    right: 0;
    background-position: left 0;
  }
  #zenbox_tab:hover {background-color: #444;}
